#modal-skatespot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: rgb(50 50 50);  
  cursor: default;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    width: 100%;    
  }
}
